{% extends 'base.html.twig' %}

{% block title %}Edit Soin{% endblock %}

{% block body %}
    <h1>Edit Soin</h1>

    {{ include('soin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('soin_index') }}">back to list</a>

    {{ include('soin/_delete_form.html.twig') }}
{% endblock %}
